body, html {
    min-height: 100%;
    margin: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 5em;
    font-weight: 100;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

.section {
    padding-right: 40px;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 5px;
}

#landing {
    background-color: white;
    text-align: center;
}

#landing img {
    margin: 0 auto;
    display: block;
    width: 900px;
}

#excerpt {
    background-color: #ed6333;
    text-align: center;
    color: white;
}
#penutup {
    background-image: url("../img/TEXTURE1.jpg");
    background-size: cover;
    color: white;
    text-align: center;
}

#penutup h1 {
}

@media screen and (max-width: 300px) {
    #penutup h1 {
        font-size: 18px;
    }
}

.slogan {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1.3em;
}

.logo-penutup {
    width: 80px;
    padding: 0.2em;
}
.ico-sosmed {
    width: 24px;
}