body, html {
    min-height: 100%;
    margin: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 3em;
    font-weight: 100;
}

p {
    font-family: 'Open Sans', sans-serif;
}

section {
    height: 100%;
    width: 100%;
    padding: 0;
}

#landing {
    padding-top: 3em;
    background-color: white;
    text-align: center;
}

#landing img {
    margin: 0 auto;
    display: block;
    width: 900px;
}

#excerpt {
    background-color: #ed6333;
    text-align: center;
    color: white;
}

#penutup {
    background-image: url("../img/TEXTURE1.jpg");
    background-size: cover;
    color: white;
    text-align: center;
}

#penutup h1 {
    padding-top: 3.5em;
    font-size: 5em;
}

.slogan {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
