#bagian-peta {
    height: 100%;
    width: 100%;
}

#gmap {
    height: 100%;
    width: 100%;
}

#gmap a.link-peta, #gmap a.link-peta:hover, #gmap a.link-peta:visited, #gmap a.link-peta:link {
    color: blue;
}

#kontak {
    border-collapse:collapse;
    border : none;
}

#kontak td {
   border:none;
   outline:none;
   padding-left: 0;
}

.socmed-link {
    margin: 0.3em;
    text-decoration: none;
    display: block;
}

.socmed-link img {
    border-radius: 1em;
    margin-right: 0.4em;
    height: 20px;
}