#heading {
    color: white;
    text-align: center;
    padding: 1em;
    font-family: 'OpenSans Light';
}

#landing {
    padding: 3em;
    widows: 37%;
    background: url('../img/header-galeri.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#galeri {
    padding: 20px 20px;
    color : white;
    text-align: center;
}

#galeri h1 {
    text-align: center;
    margin-bottom: 1em;
}

#galeri .pure-u-1-3 {
    padding: 20px 0;
}

.galeri-page .pure-1-4 {
    height: 600px;
    overflow: hidden;
}

.galeri-page img {
    -webkit-transition: all 200ms ease; /* Safari and Chrome */
    -moz-transition: all 200ms ease; /* Firefox */
    -ms-transition: all 200ms ease; /* IE 9 */
    -o-transition: all 200ms ease; /* Opera */
    transition: all 200ms ease;
    max-height: 225px;
    text-align: center;
    margin: 0 auto;
}

.galeri-page img:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}
