
/*
 * General Style
 */
@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Regular.ttf');
}


@font-face {
    font-family: 'OpenSans Bold';
    src: url('../font/OpenSans-Bold.ttf');
}


@font-face {
    font-family: 'OpenSans Light';
    src: url('../font/OpenSans-Light.ttf');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    margin: 0;
    font-size: 12pt;
}

h1, h2, h3, {
    font-family: 'OpenSans Light', sans-serif;
}

p {
    font-family: 'OpenSans', sans-serif;
}

h1 {
    margin: 0;
    font-size: 4em;
    font-weight: 150;
}

h2 {
    font-size: 1.25em;
    font-weight: 200;
}


/*
 * Pure Style
 */
.pure-g {
    padding: 0 1em 0 3em;
}

/* responsive mode */
@media screen and (max-width: 780px) {
    .pure-g {
        letter-spacing: -0.05em;
    }
    .l-box {
        width: 100% !important;
    }
    .j-box {
        padding: 1em;
    }
}

/*
 * fullPage Style
 */
.section {
}
.fp-controlArrow {
    top: 99% !important;
}

.fp-controlArrow.fp-next {
    border-oor: transparent transparent transparent #fff !important;
    border-width: 10px 0px 10px 15px !important;
    right: calc(50% - 56px) !important;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #fff transparent transparent !important;
    border-width: 10px 15px 10px 0px !important;
    left: calc(50% - 56px) !important;
}

.fp-slidesNav ul li a span {
    border: 1px solid #832c43 !important;
    background: none repeat scroll 0% 0% transparent;
}

.fp-slidesNav ul li a.active span {
    background: none repeat scroll 0% 0% #f88637  !important;
}

@media screen and (max-width: 640px) {
    .section {
        height: auto !important;
        padding-bottom: 56px;
    }
}


/* Section Style */
header {
    background-color: #343434;
    color: white;
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header.fixed-mode {
    position: fixed;
    box-shadow: 0px 2px 3px #000;
    z-index: 1000;
}

#head-inner {
    width: 100%;
    height: 100%;
}

#head-menu, #head-logo {
    height: 100%;
}

#head-logo {
    float: left;
    text-align: center;
    padding: 0.1% 1%;
}

.head-logo-text {
    font-family: 'OpenSans Bold';
}

#head-menu {
    float: right;
    text-align: right;
}

.menu-list {
    height: 100%;
    padding: 0;
    margin: 0 30% 0 0;
}

.menu-listitem {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding: 5% 4%;
    transition: 300ms;
}

.menu-listitem:hover {
    background-color: #252525;
}



#landing {
    background-color: #BF423C;
    background-size: 100% 100%;
    margin-top: 70px;
}

#landing img {
    margin: 0 auto;
    display: block;
    size: 100% 100%;
}



#bideo {
    background-color: #323232;
    text-align: center;
    color: #f0f0f0;
}

#quote {
    padding: 10px 20px 30px 20px;
    color: white;
}

#quote h2 {
    text-align: center;
    font-size: 2em;
}

#quote blockquote {
    font: italic 1.2em/1.6em Georgia, "Times New Roman", Times, serif;
    background: url(../img/close.png) no-repeat right bottom;
    padding-left: 0px;
    text-indent: -18px;
}

#quote blockquote:first-letter {
  background: url(../img/open.png) no-repeat left top;
  padding-left: 18px;
  font: italic 1.4em Georgia, "Times New Roman", Times, serif;
}

#quote blockquote:first-word {
    font: bold;
}

#quote small {
    padding-left: 22px;
    font-size: 1em;
}

#excerpt {
    background-size: cover;
    text-align: center;
    color: #f0f0f0;
}

.slide#video

.slide#competition {}

.slide#nextevent {}




#news {
    /* @dhika : warna background aku pindah ke class .background-hitam
                Ngasih warna ke section pake class .background-hitam/cerah */
    color: white;
}

#news h1 {
    font-size: 2.5em;
    text-align: center;
}

#news h2 {
    font-size: 2em;
}
#news p {

}

#LF {
    background-image: url('../img/background-lf.jpg');
}

#SDC {
    background-image: url('../img/background-sdc.jpg');
}

#EEC {
    background-image: url('../img/background-eec.jpg');
}

#SEMNAS {
    background-image: url('../img/background-semnas.jpg');
}


#closing {
    color: white;
    text-align: left;
    padding: 1em 0;
}

#closing h1 {
    font-size: 2em;
    margin: 8px 0;
}

#closing p {
    margin: 5px 0;
}

#closing a, a:visited {
    color: white;
    text-decoration: none;
}

#closing .ico-footer {
    width: 16px;
    height: 16px;
}

#closing img {
    display: inline-block;
}

#closing .closing-contact {
    padding: 0 2em 0 0;
}

#closing .closing-medsos {
    padding: 0 2em;
}

#closing .closing-sponsor {
    padding: 0 0 0 2em;
}

#closing .make-footer-border {
    border-right: solid;
    border-left: solid;
    border-color: white;
}

#copyright {
    color: white;
}


.event-box {
    padding: 1em;
}

.title {
    color: #832c43;
}

.overlay {
    background-color: rgba(131, 44, 67, 0.7);
    /* text-shadow: 1px 1px #333; */
    padding: 0.5em 1em;
}

.overlay p {
    text-align: justify;
}

.slogan {
    font-family: 'OpenSans Light', sans-serif;
    font-style: italic;
    font-size: 1.2em;
}

/*
 * Small mobile Style
 */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
        font-weight: 300;
        font-style: bold;
    }
    h2 {
        font-size: 1.1em;
    }
    .section {
        padding : 50px 0 50px 0;
    }
    .slogan {
        font-size: 1em
    }
    .mobile-slide {
        padding-top: 50px;
    }

    #landing {
        min-width: 100%

    }

    #landing img {
        margin: 0 auto;
        display: block;
        width: 100%;
    }

    #closing {
        min-width: 100%;
    }

    .sos-kanan {
        text-align: center;
        padding: 5px;
    }
    .sos-kiri {
        text-align: center;
        padding: 5px;
    }
}

.background-hitam {
    background-color: #323232;
}
.background-cerah {
    background-color: #BF423C;
}

#font {
	color: white;
	font-weight: bold;
}
