/* GENERAL STYLE */

body{
    height: 1700px;
    padding: 0px;
    margin: 0px;
}


/* MENU STYLE */

#menu{
    height: 4%;
    background-color: black;
}


/* HEADER STYLE */

#header{
    height: 32%;
    background-image: url(../img/background-eec-ori.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
#header div{
    flex: 1;
}
#header1{
    text-align: center;
}

#header-pict{
    width: 80%;
}

/* QUOTE STYLE */

#quote{
    height: 4%;
    background-color: black;
}


/* LOMBA STYLE */

#lomba{
    height: 50%;
    background-color: #A2353A;
    display: flex;
    align-items: flex-start;
}

#lomba div{
    flex: 1;
}

#menu-lomba{
    background-color: transparent;
    padding-top: 40px;
}

#isi{
    background-color: white;
    width: 900px;
    height: 850px;
}

/* FOOTER STYLE */

#footer{
    height: 24%;
    background-color: grey;
}
