@font-face {
    font-family: OpenSans-Bold;
    src: url(../font/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(../font/OpenSans-Light.ttf);
}

/* GENERAL STYLE */

body{
    height: 1700px;
    padding: 0px;
    margin: 0px;
}


/* MENU STYLE */

/* sudah ada di css yang lain */

/* HEADER STYLE */

#header{
    height: 32%;
    background-image: url(../img/background-eec-ori.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
#header div{
    flex: 1;
}
#header1{
    text-align: center;
}

#header-pict{
    width: 80%;
}

/* QUOTE STYLE */

#quote{
    height: 4%;
    background-color: black;
}


/* LOMBA STYLE */

#lomba{
    height: 50%;
    background-color: #A2353A;
    display: flex;
    align-items: flex-start;
}

#lomba div{
    flex: 1;
}

#menu-lomba{
    background-color: transparent;
    padding-top: 40px;
}

    #logo-lomba{
        width: inherit;
        text-align: center;
    }
    #nama-lomba{
        font-family: OpenSans-Bold;
        font-size: 30px;
        color: white;
        text-align: center;
        padding-bottom: 50px;
    }
    .lomba-menu{
        background-color: transparent;
        width: 300px;
        text-align: left;
        text-indent: 10px;
        cursor: pointer;
        font-family: OpenSans-Bold;
        font-size: 40px;
        color: white;
        align-items: center;
        transition: ease 300ms;
        margin-left: 30px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .lomba-menu:hover{
        background-color: white;
        transition: ease 300ms;
        color: #A2353A;
    }
    .lomba-menu-click{
        background-color: white;
        transition: ease 300ms;
        color: #A2353A;
    }
.isi{
    background-color: white;
    width: 900px;
    height: 850px;
    text-align: left;
    padding:10%;
    padding-top: 0%;
    overflow-y: scroll;
}
    .isi ul{
        font-family: OpenSans-Bold;
        font-size: 30pt;
        text-indent: -43px;
        line-height: 300%;
        list-style-image: url("../img/bullet.gif");
    }
    .isi ul li{
        font-family: OpenSans-Light;
        font-size: 20pt;
        text-indent: 0px;
        line-height: 140%;
        margin-bottom: 15px;
    }
    table{
        margin-top: 15px;
        border-collapse: collapse;
        
    }
    table, td, td {
        border: 1px solid black;
        padding: 8px
    }
    
    
/* FOOTER STYLE */

#footer{
    height: 24%;
    background-color: grey;
}
