/* GENERAL STYLE */

body{
    height: 1700px;
    padding: 0px;
    margin: 0px;
}


/* MENU STYLE */

#menu{
    height: 4%;
    background-color: black;
}


/* HEADER STYLE */

#header{
    height: 32%;
    background-image: url(../img/background-eec-ori.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* QUOTE STYLE */

#quote{
    height: 4%;
    background-color: black;
}


/* LOMBA STYLE */

#lomba{
    height: 50%;
    background-color: #A2353A;
}


/* FOOTER STYLE */

#footer{
    height: 24%;
    background-color: grey;
}
