@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-Regular.ttf");
}


@font-face {
    font-family: "OpenSans-Bold";
    src: url("../font/OpenSans-Bold.ttf");
}


@font-face {
    font-family: "OpenSans-Light";
    src: url("../font/OpenSans-Light.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    margin: 0;
    font-size: 12pt;
    font-family: "OpenSans";
}

h1, h2, h3, h4 {
    font-family: "OpenSans-Light", sans-serif;
}

p {
    font-family: "OpenSans", sans-serif;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 150;
}

h2 {
    font-size: 1.25em;
    font-weight: 200;
}

h3 {
    font-size: 1.15em;
    font-weight: 200;
}

#landing {
    background-color: #d4543b; /* #BF423C */
    background-size: 100% 100%;
    margin-top: 70px;
}

#landing img {
    margin: 0 auto;
    display: block;
    size: 100% 100%;
}

.pure-g {
    padding: 0 1em 0 3em;
}

.dark {
    background-color: #323232;
}
.light {
    background-color: #d4543b;
}

