/*
 * Footer style section
 */
#closing {
    color: white;
    text-align: left;
    padding: 1em 0;
}

#closing h2 {
    font-style: OpenSans;
    margin: 8px 0;
    font-size: 1.5em;
    font-weight: bold;
}

#closing p {
    margin: 5px 0;
}

#closing a,
#closing a:hover,
#closing a:visited {
    text-decoration: none;
}

#closing a {
    color: white;
}

#closing .ico-footer {
    width: 16px;
    height: 16px;
}

#closing img {
    display: inline-block;
}

/* Contact side */
.closing-contact {
    padding: 0 2em 0 0;
}

.closing-medsos {
    padding: 0 2em 0 2em;
}

#closing .make-footer-border {
    height: 100%;
    margin: 0 0 auto 0;
}

.closing-contact .more-contact {
    /* font-weight: bold; */
}

/* Present side */
.closing-present {
    margin: 0.5em 0;
    padding: 0 0 1em 0;
}

.closing-present img {
    height: 6em;
    margin: 0.5em;
}


/* Sponsor side */
.closing-sponsor {
    border-left: 5px dotted #fff;
    padding: 0 0 0 2em;
}

.closing-sponsor img.bronze {
    height: 3em;
}

.closing-sponsor img.bronze-long {
    height: 2.5em;
}

.closing-sponsor img.silver {
    height: 4em;
}

.closing-sponsor img.gold {
    height: 8.85em;
}

.closing-sponsor img.white-protect {
    background-color: #fff;
    padding: 10px 15px;
}

/* Copyright */
#copyright {
    color: white;
}


#copyright img {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    #closing {
        text-align: center;
    }

    .closing-contact {
        padding: 0 0 2em 0;
    }

    .closing-sponsor {
        border-left: 0;
        border-top: 2px solid #fff;
        margin: 1em 0 0 0;
        padding: 1em 0 0 0;
    }
}
