/*
 * Footer style section
 */
#closing {
    color: white;
    text-align: left;
    padding: 1em 0;
}

#closing h2 {
    font-style: OpenSans;
    margin: 8px 0;
    font-size: 1.5em;
    font-weight: bold;
}

#closing p {
    margin: 5px 0;
}

#closing a,
#closing a:hover,
#closing a:visited {
    text-decoration: none;
}

#closing .ico-footer {
    width: 16px;
    height: 16px;
}

#closing img {
    display: inline-block;
}

#closing .closing-contact {
    padding: 0 2em 0 0;
}

#closing .closing-medsos {
    padding: 0 2em 0 2em;
}

#closing .closing-sponsor {
    padding: 0 0 0 2em;
}

#closing .make-footer-border {
    height: 100%;
    margin: 0 0 auto 0;
    border-right: solid;
    border-color: white;
}

#closing .more-contact {
    /* font-weight: bold; */
}

#copyright {
    color: white;
}


#copyright img {
    display: inline-block;
}
